.test::file-selector-button {
  font-weight: bold;
  color: white;
  padding: 12px;
  border-radius: 20px;
  border: thin solid grey;
  background: #747575;
  border-radius: 3px;
  cursor: pointer;
}
